@model Basket

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h2>Your Basket</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Remove</th>
                        <th>Add</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BasketItems)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price.ToString("C")</td>
                            <td>@(item.Quantity * item.Price)</td>
                            <td>
                                <form asp-action="RemoveFromBasket" asp-controller="Basket" method="post">
                                    <input type="hidden" name="BasketItemId" value="@item.BasketItemId" />
                                    <button type="submit" class="btn btn-danger">-</button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="IncreaseBasketCount" asp-controller="Basket" method="post">
                                    <input type="hidden" name="BasketItemId" value="@item.BasketItemId" />
                                    <button type="submit" class="btn btn-success">+</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <form asp-action="Checkout" asp-controller="Basket" method="post" class="mt-5">
                <h3>Please enter delivery address:</h3>
                <div class="mb-3 col-lg-6">
                    <label for="AddressLine1" class="form-label">Address Line 1</label>
                    <input type="text" class="form-control" id="AddressLine1" name="AddressLine1" required />
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="AddressLine2" class="form-label">Address Line 2</label>
                    <input type="text" class="form-control" id="AddressLine2" name="AddressLine2" />
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="City" class="form-label">City</label>
                    <input type="text" class="form-control" id="City" name="City" required />
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="PostalCode" class="form-label">Postal Code</label>
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" required />
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="Country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="Country" name="Country" required />
                </div>

                <button type="submit" class="btn btn-success mt-3">Checkout</button>
            </form>
            <a class="btn greyButtonColour text-light mt-3" asp-controller="Products" asp-action="Index">Return to products list</a>
        </div>
    </div>
</div>
